[submodule "BFC"]
	path = BFC
	url = https://github.com/therooftopprinz/BFC.git
[submodule "Logless"]
	path = Logless
	url = https://github.com/therooftopprinz/Logless.git
[submodule "cum"]
	path = cum
	url = https://github.com/therooftopprinz/cum.git
