[project]
	description = Property Tree is a library for sharing objects data across process and network.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rooftopprinz
[access "refs/for/refs/*"]
	read = group user/rooftopprinz
	push = group user/rooftopprinz
	label-Code-Review = -2..+2 group user/rooftopprinz
	label-Verified = -1..+1 group user/rooftopprinz
	rebase = group user/rooftopprinz
	removeReviewer = group user/rooftopprinz
	submit = group user/rooftopprinz
[access "refs/heads/*"]
	read = group user/rooftopprinz
	create = group user/rooftopprinz
	push = +force group user/rooftopprinz
	pushMerge = group user/rooftopprinz
[access "refs/tags/*"]
	push = group user/rooftopprinz
	push = +force group user/rooftopprinz
